div {
  padding: 10px 0px 0px 25px;
}

table {
  border-collapse: collapse;
}

td {
  padding: 5px 20px 5px 10px;
  border: 1px solid black;
}

h1 {
  color: green;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
